.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sorting-field {
  margin-top: 30px;
  width: 70%;
}

.task-table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 70%;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  border: 1px solid black;
  padding: 5px;
}

.new-task-form {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 70%;
}

.new-task-label {
  margin: 10px;
}

.task-input, .status-select {
  margin-left: 5px;
}

.list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
